Flask==1.0.2
flask_httpauth==3.2.4
pymysql==0.8.1
Flask-Security==3.0.0
itsdangerous==0.24
flask-cors==3.0.6
requests==2.21.0
boto3==1.7.48
flask-compress==1.4.0
tinys3==0.1.12
geoip2==2.9.0
raven[flask]==6.9.0
qiniu==7.2.2
facebook_business==3.2.0
stripe==2.17.0
Jinja2==2.10
python-pdf==0.36
googleads==17.0.0
flask_sqlalchemy==2.3.2
